/* Selve bakgrunnen/kroppen */

body {
	background-color: #F1F1F1;
	width: 100%;
	margin: 0px auto;	
}


/* Header med logo */
header {
	background-color: #CCC;
	width: 100%;
}

#logo{
	margin: 0px auto;
	display: block;
	padding: 30px 30px 50px 30px;
}

/* Navigasjonsfelt */
#nav {
	background-color: #202121;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 13pt;
	display: inline-block;
	text-align: center;
	}

/*#navigator {
    width: 750%;
    margin: 0 auto;
    list-style: none;
}*/

a{
	text-decoration: none;
	cursor: pointer;
	padding: 0 30px;
	text-align: center;
	display: block;
}

a:hover {
	color: #EB232E;
}

/* Navigasjonsliste */
ul{
	list-style-type: none;
	margin:0;
    padding:0;
    position: relative; /*LL*/
    display: inline-block; /*LL*/
    }


li {
	float: left;
	text-align: center;
}

/* DROPDOWN MENY */
li a, .dropbtn {
	display: inline-block;
	color: #F1F1F1;
    text-align: center;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 130px;
}

.dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left;
	}

.dropdown-content a:hover {
	background-color: #878787;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/* Overskrift */
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 35pt;
	color: black;
	text-align: center;
	margin-bottom: 0;
}

/*Linje under overskriftene*/
#line{
	border-bottom: 1px solid;
	width: 300px;
	margin: 0px auto;
}

/*For å fikse mellomrommet mellom overskriften og innholdet*/
#innhold{
	padding-top: 30px;
}

/* Selve delen med innhold */
article {
	width: 70%;
	margin: 0px auto;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14pt;
}

/*Footer*/
footer{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	background-color: #CCC;
	color:black;
	padding: 15px 0px 15px 0px;
	bottom: 0;
	width: 100%;
}

.footer_link{
	width: 20%;
	text-align: center;
	
}

a#foot:visited{
	color:black;
}

a#foot:hover{
	color:dimgray;
}


